*{
    padding: 0;
    margin: 0;
}
.creditTag{
    display: none;
}
#navbar{
    padding: 20px 6%;
    border-color: transparent !important;
    background: black;
}
.navbar-dark, .navbar-toggler{
    border-color: transparent !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
.header-nav-link{
    color: white !important;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 80px;
}
.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}
#nav-logo{
    width: auto;
    height: 80px;
}
.navbar-nav{
    align-items: center;
}
header{
    background: url(../images/katarbg.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 8%;
    padding-top: 1%;
}
header img{
    padding-top: 30px;
}
.congress{
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 1.005em;
    margin-bottom: 0;
}
.d2022{
    width: auto;
    height: 100px;
    padding-top:  20px;
    margin-bottom: 40px;
}

.date, .dec{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 24px;
    line-height: 109.4%;
    letter-spacing: 1.005em;
}
.attend{
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 109.4%;
    color: #EED1A4;
}
.header-btndiv{
    display: flex;
}
.header-btn{
    display: inline-block;
    margin-top: 30px;
    background: transparent;
    color: #fff;
    transition: all 0.3s;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    padding: 15px 25px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 109.4%;
    margin: 15px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
}

.header-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -2;
}

.header-btn:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #fff !important;
    transition: all 0.3s;
    z-index: -1;
    color: black;
}

.header-btn:hover {
    color: #000 !important;
    text-decoration: none;
    border-color: #fff !important;
}

.header-btn:hover:before {
    width: 100%;
}
.reg{
    font-family: 'Poppins';
}
.countdown{
    /* display: flex; */
    font-family: 'Poppins';
}
.box{
    padding: 15px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    font-weight: 400;
    font-size: 24px;
    color: #252525;
    margin:  5px;
    /* width: 40px; */
}
.section{
    padding: 6% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 154.4%;
    text-align: center;
    letter-spacing: 0.015em;
}
.section .bold{
    font-weight: 800;
}
.img-div{
    display: none;
}
.img-div img{
    width: 100%;
}
.carousel{
    padding: 6% 10%;
}


@media (max-width: 1080px) {
    .congress{
        font-size: 25px;
        letter-spacing: 0.6em;
    }
    .date{
        font-size: 18px;
        letter-spacing: 0.6em;
    }
    .attend{
        font-size: 15px;
    }
    .section{
        font-size: 15px;
    }
}
@media (max-width: 987px) {
    .header-nav-link {
        margin: 0;
    }
}
@media (max-width: 660px){
    #nav-logo{
        height: 45px;
    }
    header{
        background-image: url(../images/katarmob-bg.png);
    }
    .congress{
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.785em;
    }
    .d2022{
        height: 73px;
    }
    .day{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .dec{
        font-size: 15px;
        letter-spacing: normal;
        margin-bottom: 15px;
    }
    .date{
        font-size: 12px;
        letter-spacing: 0.785em;
    }
    .attend{
        font-size: 13px;
    }
    .header-btndiv{
        display: flex;
        flex-direction: column;
    }
    .header-btn{
        font-size: 13px ;
        padding: 12px 20px;
    }
    .section{
        font-size: 15px;
        text-align: justify;
        font-weight: 500;
        padding-top: 10%;
        line-height: 26px;
    }
    .carousel{
        padding: 0;
    }
    .img-div{
        display: block;
    }
}
