body {
    background: black;
    font-family: 'Clash Display';
    background: url(../images/katarbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
* {
    padding: 0;
    margin: 0;
}

.headcontent{
    background: rgb(0 0 0 / 50%);
}
.headcontent-center{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

#navbar {
    padding: 20px 6%;
    border-color: transparent !important; 
    background: #000;
}
.navbar-nav {
    align-items: center;
}
.navbar-dark,
.navbar-toggler {
    border-color: transparent !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header-nav-link {
    color: white !important;
    font-family: 'Clash Display';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 80px;
}
.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}
#nav-logo {
    width: auto;
    height: 80px;
}
.d2022 {
    width: auto;
    height: 100px;
    padding-top: 20px;
    margin-bottom: 40px;
}
.congress {
    font-family: 'Cinzel';
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 1.005em;
    margin-bottom: 0;
    color: white;
}
.heading{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 154.4%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.heading .bold{
    font-size: 38px;
    letter-spacing: 0.2em;
    font-weight: 700;
}
.blur-bg{
    padding-bottom: 8%;
}
.sub-heading{
    font-family: 'Clash Display';
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 154.4%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #EED1A4;
    margin: 4%;
}
.header-subhead{
    background: #d9d9d91a;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 154.4%;
    text-align: center;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    padding: 2% 10%;
    margin-top: 30px;
    width: 100%;
}
.header-subhead a{
    font-size: 25px;
    color: #93d32d;
}
.section{
    padding: 4% 20%;
    background: rgb(0 0 0 / 50%);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nonMemb{
    display: none;
}
.input-box{
    width: 100%;
    margin: 50px;
}
label {
    margin-bottom: 0;
    font-size: 19px;
}
.form-check-label {
    font-size: 17px;
}
.label-div{
    background: #EED1A4;
    padding: 4% 8%;
    font-weight: 500;
    font-size: 20px;
}
.input-field-div{
    background: #F8F8F8;
    padding:5% 8%;
}
.input-field{
    border: 0;
    border-bottom: 2px solid #A5A5A5;
    outline: 0;
    width: 100%;
    background: transparent;
    margin-bottom: 15px;
}
.required{
    background: #D9D9D9;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    font-size: 10px;
    line-height: 154.4%;
    text-align: center;
    letter-spacing: 0.015em;
    padding: 3px 15px;
}
.formTitle{
    background: #d9d9d91a;
    text-align: center;
    font-family: 'Montserrat', sans-serif ;
    color: #FFFFFF;
    padding: 2% 6%;
    margin-top: 4%;
}
.submitBtn, .nextBtn{
    padding: 1% 3%;
    background: #eed1a4;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn-section{
    margin-top: -80px;
}
.form-check{
    padding-bottom: 11px;
}
@media (max-width: 1080px) {
    .congress {
        font-size: 25px;
        letter-spacing: 0.6em;
    }
} 
@media (max-width: 987px) {
    .heading{
        font-size: 40px;
    }
    .section{
        padding: 4% 10%;
    }
    .header-nav-link{
        margin: 0;
    }
}
@media (max-width: 600px) {
    body{
        background-image: url(../images/katar-mob-bg-blur.png);
        background-position: center;
    }
    .headcontent-center{
        padding: 1% 5%;
    }
    .heading .bold{
        font-size: 25px;
    }
    .congress {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.785em;
    }

    .d2022 {
        height: 73px;
    }
    .blur-bg {
        background: none;
        padding-bottom: 15%;
    }
    #nav-logo {
        height: 45px;
    }
    .heading{
        font-size: 20px;
        padding-bottom:10%;
    }
    .header-subhead{
        padding: 4%;
    }
    .headcontent{
        background: none;
    }
    .section{
        font-size: 15px;
        font-weight: 400;
        background: none;
    }
    .section1{
        position: relative;
        top: -80px;
        z-index: 100;
    }
    .sub-heading{
        font-size: 15px;
        padding: 2px 45px;
        font-style: normal;
        font-weight: 400;
    }
    header p{
        font-size: 10px;
    }
    .label-div{
        font-size: 17px;
        font-weight: 500;
    }
    select {
        padding: 12px 0;
    }
    .formTitle h2{
        font-size: 18px;
    }
    .formTitle p{
        font-size: 12px;
    }
}