*{
    padding: 0;
    margin: 0;
}
body{
    background: url(../images/katarbg.svg);
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'Clash Display';
    color: #fff;
}
#navbar {
    padding: 20px 6%;
    border-color: transparent !important;
}

.navbar-dark,
.navbar-toggler {
    border-color: transparent !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header-nav-link {
    color: white !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 80px;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

#nav-logo {
    width: auto;
    height: 80px;
}
.navbar-nav {
    align-items: center;
}
section{
    padding: 5% 15%;   
}
h1{
    text-align: center;
}
h3{
    font-weight: 400;
    font-size: 30px;
}
.ydiv{
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
}
.y-hr{
    border: 1px solid #fff;
}
.imgDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 100vh;
    overflow-x: scroll;
}
.imgDiv img{
    margin: 10px;
    width: 220px;
    height: 150px;
    border-radius: 8px;
    transition: ease-in-out 0.3s;
}
.imgDiv img:hover{
    transform: scale(3);
}


@media (max-width: 987px) {
    .header-nav-link {
        margin: 0;
    }
}
@media (max-width: 660px) {
    #nav-logo {
    height: 45px;
}
}