* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/katarbg.svg);
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'Clash Display';
    color: #fff;
}

#navbar {
    padding: 20px 6%;
    border-color: transparent !important;
}

.navbar-dark,
.navbar-toggler {
    border-color: transparent !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header-nav-link {
    color: white !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 80px;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

#nav-logo {
    width: auto;
    height: 80px;
}

.navbar-nav {
    align-items: center;
}
header {
    /* background: url(../images/katarbg.svg); */
    filter: drop-shadow(2px 4px 6px black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
header h1{
    text-align: center;
}
header p{
    font-size: 30px;
    text-align: center;
}
.resImgDiv{
    padding: 3% 1%;
}
.resImg{
    width: auto;
    height: 250px;
}
section {
    padding: 4% 8%;
    color: white;
   
}
.input-field-div{
    text-align: center;
    margin-bottom: 2%;
    width: 100%;
    display: inline;
}
.input-field-div p{
    font-size: 20px;
}
.input-field-div select{
    padding: 1%;
    font-size: 18px;
}
section > p{
    font-size: 35px;
    text-align: center;
}
.genderDiv{
    text-align: center;
}
.genderBtn{
    font-family: 'Montserrat';
    font-size: 25px;
    background: #000;
    border: 3px solid #666949;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 5px;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
}
.genderBtn:hover {
    text-decoration: none;
    background: #666949 ;
}

.accomodDiv{
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    font-family: 'Montserrat';
    margin: 3% 8%; 
}
.accomod{
    margin: 7% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}
.acdiv{
    margin-top: 50px;
    background: #3e203b45;
    padding: 1%;
}
.desc{
    font-size: 20px;
}
.price{
    font-size: 20px;
}
.accomod h3{
    font-family: 'Montserrat';
}
.btnDiv{
    display: flex;
    justify-content: center;
}
.proceedBtn {
    background: transparent;
    color: #fff;
    transition: all 0.3s;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    padding: 20px 35px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 15px;
    line-height: 109.4%;
}
.proceedBtn:hover{
    background: #666949;
    text-decoration: none;
    color: #fff;
    border: 3px solid #666949;
}
.submitBtn{
    background: #D9D9D9;
    color: black;
    padding: 0.4% 2%;
    font-size: 20px;
    border-radius: 5px;
}
.prekart {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    background: #EED1A4;
    font-weight: 700;
}

.prekart a {
    font-family: "Montserrat";
    color: #000;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s !important;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    margin: 0;
}
@media (max-width: 1200px) {
    .desc,.price {
        font-size: 15px;
    }
    .accomod h3 {
        font-size: 17px;
    }
    .proceedBtn{
        padding: 10px 25px;
    }
}
@media (max-width: 987px) {
    .header-nav-link {
        margin: 0;
    }
    .resImg{
        height: 180px;
    }
    label, .input-, .check{
        font-size: 20px;
    }
    .desc, .price{
        font-size: 15px;
    }
    .accomod h3{
        font-size: 17px;
    }
}
@media (max-width: 900px) {
    .accomod{
        display: block;
        text-align: center;
    }
    .accomod h3{
        font-size: 25px;
        font-weight: 700;
    }
}
@media (max-width: 660px) {
    #nav-logo {
        height: 45px;
    }
    header {
        background-image: url(../images/katarmob-bg.png);
    }
    header h1{
        margin-top: 8%;
    }
    header p{
        font-size: 25px;
    }
    .prekart a{
        font-size: 13px;
    }
    section > p{
        font-size: 20px;
    }
    .genderBtn{
        font-size: 18px;
    }
    .resImgDiv{
        margin-top: 6% ;
    }
    .resImg{
        height: 100px;
    }
    label,
    .blurBg, .check {
        font-size: 15px;
    }
    .accomod h3{
        font-size: 20px;
        font-weight: 600;
    }
}