* {
    padding: 0;
    margin: 0;
}

body {
    background: url(../images/katarbg.svg);
    filter: drop-shadow(2px 4px 6px black);
    font-family: 'Clash Display';
    color: #fff;
}

#navbar {
    padding: 20px 6%;
    border-color: transparent !important;
}

.navbar-dark,
.navbar-toggler {
    border-color: transparent !important;
}

.navbar-collapse {
    justify-content: flex-end;
}

.header-nav-link {
    color: white !important;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-right: 80px;
}

.link-hover-effect-1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0.5rem 0;
}

.link-hover-effect-1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: #fff;
    transform: translateX(-105%);
    transition: transform 0.5s ease-in-out;
}

.link-hover-effect-1:hover::before {
    transform: translateX(0);
}

#nav-logo {
    width: auto;
    height: 80px;
}

.navbar-nav {
    align-items: center;
}
header {
    /* background: url(../images/katarbg.svg); */
    filter: drop-shadow(2px 4px 6px black);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
}
.resImgDiv{
    padding: 3% 1%;
}
.resImg{
    width: auto;
    height: 250px;
}
.blurBg {
    background: #d9d9d91a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
    padding: 2% 6%;
    margin-top: 4%;
    width: 100%;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% 10%;
    font-size: 25px;
}
.input-field-div{
    margin-bottom: 2%;
    width: 100%;
}
.input-field{
    background: #000;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    padding: 1% 4%;
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.submitBtn{
    background: #D9D9D9;
    color: black;
    padding: 1% 2%;
}
.regCbox{
    background: #000;
    border: 1px solid #fff;
}
@media (max-width: 987px) {
    .header-nav-link {
        margin: 0;
    }
}

@media (max-width: 660px) {
    #nav-logo {
        height: 45px;
    }
    header {
        background-image: url(../images/katarmob-bg.png);
    }
}